body
{
    margin: 0px;
    padding: 0px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






/***Pagina home***/
.presentation
{
    width: 1500px;
    height: 300px;
    padding: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #e9c38b;
    margin-bottom: 100px;
    background-color: #eeeeee;
    text-align: center;
}
.presentation p 
{
    font-weight: 600;
    font-size: large;
}
.home-body-header
{
    height: 200px;
    width: 1600px;
    border-style: solid;
    border-width: 5px;
    border-color: #e9c38b;
    background-color: #ffdd99;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}
.link-container-background
{
    width: 1500px;
    height: 600px;
    padding: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #e9c38b;
    margin-bottom: 100px;
    background-color: #eeeeee;
    
    
}
.link-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 500px;
}
.link-livros
{
    height: 500px;
    width: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: #cfb48a;
    background-image: url(book-bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.link-livros-titulo
{
    width: 400px;
    height: 60px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #f1d1a1;

}

.link-livros button
{
    width: 200px;
    height: 100px;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #ad9065;
    background-color: #e9c38b;
    margin-bottom: 10px;
}

.link-livros button:hover
{
    background-color: #ccaa77;
    width: 210px;
    height: 110px;
}

.link-filmes
{
    height: 500px;
    width: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: #df9204;
    background-image: url(movie-bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.link-filmes-titulo
{
    width: 400px;
    height: 60px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #ff9900;

}

.link-filmes button
{
    width: 200px;
    height: 100px;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #c97148;
    background-color: #fa8b58;
    margin-bottom: 10px
}

.link-filmes button:hover
{
    background-color: #e77f4f;
    width: 210px;
    height: 110px;
}


.contacts
{
    height: 600px;
    width: 1500px;
    background-color: white;
    margin-bottom: 40px;
    
}


/**Header**/

.header-body
{
    height: 150px;
    width: 100%;
    background-color: #ee9988;
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.header-links 
{
    display: flex;
    justify-content: space-between;
    width: "100%";
    gap: 30px;
}
.header-links li
{
    background-color: aqua;
    height: 80px;
    width: 120px;
    padding: 5px;
    align-items: center;
    align-content: center;
    list-style-type: none;
    border-radius: 20px;
}

.header-links-button
{
    padding: 20px;
    width: 100px;
    height: 60px;
    margin-left: 8px;
    text-align: center;
    border-color: #c97148;
    cursor: pointer;
}
.header-links-button button:hover
{
    width: 110px;  
    height: 70px;  
}

/**Cards livros**/
.card-body
{
    height: 450px;
    width: 380px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    
}

.buttons-row
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.buttons-row button
{
    width: 100px;
    height: 40px;
}

/** pagina formulario **/

.form-body
{
    
   
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 100%;
    background-color: white; 
    border-style: solid;
    border-width: 4px;
    border-color: orange;
}
.form-body h1
{
   
    text-align: center;
    background-color: orange;
    padding: 30px;
}
.form-fields
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.form-fields input
{
    border-style: none;
    background-color: aqua;
}
.form-fields label
{
    
}
.form-fields button
{
    width: 100px;
    height: 100px;
}
.form-item
{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}