

body
{
   
    margin: 0px;
    padding: 0px;
    background-color: #333A44;
    
}
#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**Header**/

.header-body
{
    height: 150px;
    width: 100%;
    background-color: #79a9f5;
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #051e49;
    padding-bottom: 10px;
}

.header-title
{
    font-size: larger;
    text-align: center;
    font-weight: bold;
    
    width: 100%;
    
}
.header-links 
{
    display: flex;
    justify-content: space-between;
    width: "100%";
    gap: 30px;
    
}
.header-links li
{
    
    
    justify-content: center;
    align-content: center;
    list-style-type: none;
    border-radius: 20px;
}

.header-links-button
{
    
    width: 130px;
    height: 60px;
    align-self: center;
    
    border-color: #242e2d;
    border-style: solid;
    background-color: #91affc;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}
.header-links-button:hover
{
    width: 150px;  
    height: 68px;  
    background-color: #a1bbfc;
}

/** home pagina **/
.home-body
{
    
    justify-items: center;
   
}

.page-head
{
    margin-top: 20px;
    width: 40%;
    height: 140px;
    background-color: #f8a677;
    justify-items: center;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-style: solid;
    border-color: #492b05;    
}

.page-head-button
{
    
    width: 150px;
    height: 50px;
    background-color: #f18a5e;
    border-style: none;
    margin-bottom: 40px;
    border-radius: 40px;
    color: #d83b0b;
    font-weight: bold;
    font-size: large;
}
.page-head-button:hover
{
    
    cursor: pointer;
    align-self: center;
    color: #c93b0f;
    background-color: #db7c53;
    width: 155px;
    height: 55px;
}

/** pagina formulario **/
.form-filme-head
{
    margin-top: 30px;
    width: 30%;
    height: 100%;
    background-color: #f8a677;
    border-style: solid;
    border-width: 4px;
    border-color: #8a5106;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    text-align: center;
    color: white;
}
.form-filme-body
{
    padding: 0px;
    margin: 0px;
    width: 30%;
    height: 100%;
    background-color: #0000002c; 
    border-style: solid;
    border-width: 4px;
    border-color: #8a5106;
}
.form-fields
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.form-fields input
{
    width: 100%;
    border-style: none;
    border-radius: 20px;
    
}
.form-item-name
{
    color: white;
    font-weight: 500;
    height: 100%;
    width: 30%;
    background-color: #f8a677;
    text-align: center;
    align-content: center;
}
.form-fields button
{
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #f7945b;
    border-style: none;
    color: #e64d06;
    font-weight: 900;
    font-size: medium;
}
.form-fields button:hover
{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #e0844e;
    border-style: none;
    color: #c74306;
    font-weight: 900;
    font-size: medium;
}


.form-item
{
    gap: 10px;
    height: 30px;
    width: 50%;
    background-color: #f8a677;
    border-style: solid;
    border-color: #f8a677;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}

.sucess_body
{
    justify-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 30%;
    height: 200px;
    background-color: #242e2d;
    border-style: solid;
    border-width: 4px;
    border-color: #8a5106;
}
.sucess_button
{
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #f7945b;
    border-style: none;
    color: #e64d06;
    font-weight: 900;
    font-size: medium;
}
.sucess_button:hover
{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #e0844e;
    border-style: none;
    color: #c74306;
    font-weight: 900;
    font-size: medium;
}



