

body
{
   
    margin: 0px;
    padding: 0px;
    background-color: #333A44;
    
}
#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






/***Pagina home***/
.presentation
{
    margin-top: 100px;
    width: 1200px;
    height: 500px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation-bg
{
    width: 1200px;
    height: 500px;
    opacity: 0.2;
    background-image:  -webkit-linear-gradient(left, rgba(51, 58, 68, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(51, 58, 68, 1) 100%), url(home-bg.jpg);
    position:absolute;
    
}
.presentation-text p
{
    
    color: rgb(255, 255, 255);
    justify-content: center; 
    font-size: large;
    font-weight: 600;
    
    opacity: 1;
}


.home-body-header
{
    color: #ffffff;
    height: 100px;
    width: 994px;
    border-style: solid;
    border-width: 5px;
    border-color: #04163544;
    background-color: #04163544;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}
.link-container-background
{
    width: 1000px;
    height: 600px;
    
    
    margin-bottom: 100px;
    background-color: #0000002c;
}

.link-container
{
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    
}
.link-livros
{
    height: 500px;
    width: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: #7391c8;
    background-image: url(book-bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.link-livros-titulo
{
    width: 400px;
    height: 60px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #7391c8;

}

.link-livros button
{
    width: 200px;
    height: 100px;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #c9c7e3;
    background-color: #79a9f5;
    margin-bottom: 10px;
}

.link-livros button:hover
{
    border-color: #afadca;
    background-color: #668fd1;
    width: 210px;
    height: 110px;
}

.link-filmes
{
    height: 500px;
    width: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: #df9204;
    background-image: url(movie-bg.jpg);
    background-repeat: no-repeat;
    background-size: 400px 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.link-filmes-titulo
{
    width: 400px;
    height: 60px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #ff9900;

}

.link-filmes button
{
    width: 200px;
    height: 100px;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #c97148;
    background-color: #fa8b58;
    margin-bottom: 10px
}

.link-filmes button:hover
{
    background-color: #e77f4f;
    width: 210px;
    height: 110px;
}
.about-container-background
{
    width: 1000px;
    height: 700px;
    background-color: #0000002c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-items
{
    display: flex;
    flex-direction: row;
    gap: 100px
}
.about-item
{
    
    width: 350px;
    height: 300px;
    background-color: rgba(7, 6, 34, 0.158);
    margin-bottom: 20px;
}
.about-text
{
    margin: 0 auto;
    text-align: center;
    font-size: medium;
    text-align: center;
    font-weight:bolder;
    
    color: white;
    
}
.about-title
{
    display: flex;
    width: 350px;
    height: 50px;
    background-color: #0000ff;
    align-self: center;
    padding-top: 400;
    align-items: center;
}
.about-desc
{
    text-align: center;
    color: rgb(216, 226, 255);
    font-weight: 500;
    font-size: medium;
}

/**Header**/

.header-body
{
    height: 150px;
    width: 100%;
    background-color: #79a9f5;
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #051e49;
    padding-bottom: 10px;
}
.header-bg
{
   
}
.header-title
{
    font-size: larger;
    text-align: center;
    font-weight: bold;
    
    width: 100%;
    
}
.header-links 
{
    display: flex;
    justify-content: space-between;
    width: "100%";
    gap: 30px;
    
}
.header-links li
{
    
    
    justify-content: center;
    align-content: center;
    list-style-type: none;
    border-radius: 20px;
}

.header-links-button
{
    
    width: 130px;
    height: 60px;
    align-self: center;
    
    border-color: #242e2d;
    border-style: solid;
    background-color: #91affc;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}
.header-links-button:hover
{
    width: 150px;  
    height: 68px;  
    background-color: #a1bbfc;
}

/**Cards livros**/
.page-head
{
    margin-top: 20px;
    width: 40%;
    height: 140px;
    background-color: #4b7bf5;
    justify-items: center;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-style: solid;
    border-color: #051e49;    
}

.page-head-button
{
    
    width: 150px;
    height: 50px;
    background-color: #c2e2f5;
    border-style: none;
    margin-bottom: 40px;
    border-radius: 40px;
    color: #4b7bf5;
    font-weight: bold;
    font-size: large;
}
.page-head-button:hover
{
    
    cursor: pointer;
    align-self: center;
    color: #436edd;
    background-color: #a9cadd;
    width: 155px;
    height: 55px;
}
.card-body
{
    
    height: 450px;
    width: 380px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-color: #082d6d;
    border-style: solid;
    border-width: 4px;
    border-bottom-width: 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.card-header
{
    width: 380px;
    height: 50px;
    background-color: #4b7bf5;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-width: 4px;
    border-color: #082d6d;
    text-align: center;
    padding-bottom: 10px;
}
.card-footer
{
    width: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
    background-color: #4b7bf5;
    border-color: #082d6d;
    border-style: solid;
    border-width: 4px;
    border-top-width: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.card-elements
{
    height: 450px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card-text
{
    font-size: large;
    font-weight: 600;
}
.buttons-row
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.buttons-row button
{
    color: rgb(228, 246, 253);
    font-size: medium;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #224ebe;
    border-radius: 30px;
    cursor: pointer;
    background-color: #97bbff;
}

.buttons-row button:hover
{
    width: 110px;
    height: 45px;
    border-style: solid;
    border-width: 2px;
    border-color: #224ebe;
    border-radius: 30px;
    cursor: pointer;
    background-color:  #7ba2eb;
}

/** pagina formulario **/
.form-livro-head
{
    margin-top: 30px;
    width: 30%;
    height: 100%;
    background-color: #4b7bf5;
    border-style: solid;
    border-width: 4px;
    border-color: #051e49;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    text-align: center;
    color: white;
}
.form-livro-body
{
    padding: 0px;
    margin: 0px;
    width: 30%;
    height: 100%;
    background-color: #0000002c; 
    border-style: solid;
    border-width: 4px;
    border-color: #051e49;
}
.form-fields
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.form-fields input
{
    width: 100%;
    border-style: none;
    border-radius: 20px;
    
}
.form-item-name
{
    color: white;
    font-weight: 500;
    height: 100%;
    width: 30%;
    background-color: #4b7bf5;
    text-align: center;
    align-content: center;
}
.form-fields button
{
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #779af3;
    border-style: none;
    color: #dad7ff;
    font-weight: 900;
    font-size: medium;
}
.form-fields button:hover
{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #6a89da;
    border-style: none;
    color: #c6c3e9;
    font-weight: 900;
    font-size: medium;
}


.form-item
{
    gap: 10px;
    height: 30px;
    width: 50%;
    background-color: #4b7bf5;
    border-style: solid;
    border-color: #4b7bf5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}

/*** Pagina detalhes **/

.elemento
{
    justify-items: center;
    
}
.detalhes-livro-body
{
    justify-items: center;
    
}
.page-detalhes-livro-body
{
    
    
    width: 26%;
    height: 700px;
    background-color: #0000002c; 
    border-style: solid;
    border-width: 4px;
    border-color: #051e49;
    
}
.page-detalhes-livro-body-item-title
{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 25px;
    margin-bottom: 0%;
    text-align: center;
    background-color: #4b7bf5;
    width: 493px;
    height: 40px;
    font-size: 40;
    border-style: solid;
    border-width: 4px;
    border-color: #051e49;
    border-bottom-width: 0px;
    color: #d6ddff;
}
.page-detalhes-livro-body-item
{
    justify-content: center;
    font-weight: 700;
    text-align: center;
    font-size: large;
    background-color: #4b7bf5;
    border-radius: 40px;
    height: 40px;
    width: 400px;
}
.page-detalhes-livro-body-button
{
    font-size: larger;
    
    color: #c2e2f5;
    margin-top: 40px;
    margin-bottom: 20px;
    border-style: none;
    width: 350px;
    height: 60px;
    border-radius: 20px;
    background-color: #79a9f5;
}

.page-detalhes-livro-body-button:hover
{
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
    border-style: none;
    color: #abcde0;
    background-color: #6a97df;
    border-radius: 20px;
}

/** pagina editar livro**/
.page-editar-livro-body
{
    justify-items: center;
}
.form-editar-livro-body
{
    margin-top: 30px;
    gap: 50px;
    justify-items: center;
    width: 30%;
    height: 500px;
    background-color: #0000002c; 
    border-style: solid;
    border-width: 4px;
    border-color: #051e49;  
}
.form-editar-livro-item
{
    padding: 5px;
    width: 300px;
    height: 40px;
    margin-top: 40px;
    border-style: solid;
    border-color: rgba(47, 74, 228, 0.527);
    border-radius: 40px;
    align-content: center;
    
}
.form-editar-livro-item-group
{
    gap: 5px;
    display: flex;
    flex-direction: row;
    width: 240px;
    margin-left: 20px;
    background-color: #436edd; 
    padding: 10px;
    border-radius: 20px;
}
.form-editar-livro-item-label
{
   font-weight: 600;
   color: #abcde0;
}
.form-editar-livro-button
{
    width: 200px;
    height: 50px;
    margin-top: 40px;
    border-radius: 40px;
    background-color: #779af3;
    border-style: none;
    color: #dad7ff;
    font-weight: 900;
    font-size: medium;
}
.form-editar-livro-button:hover
{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #6a89da;
    border-style: none;
    color: #c6c3e9;
    font-weight: 900;
    font-size: medium;
}